@import "tailwindcss";

:root {
  /* Your Figma colors are now the only truth */
  --background: #020618;
  --foreground: #f8fafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-inner-background: #0f172b;
  --color-border-color: #314158;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* Using 'antialiased' makes text look sharper on your MacBook screen */
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}
