@import "tailwindcss";
@plugin "tailwindcss-animate";

:root {
  /* Your Figma colors are now the only truth */
  --background: #020618;
  --foreground: #f8fafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-inner-background: #0f172b;
  --color-border-color: #314158;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* Using 'antialiased' makes text look sharper on your MacBook screen */
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom VS Code themed scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* HIDDEN BY DEFAULT */
.editor-scroll::-webkit-scrollbar-thumb {
  background: transparent;
  border: 3px solid transparent;
  background-clip: padding-box;
  border-radius: 10px;
}

/* APPEARS WHEN MOUSE ENTERS THE AREA */
.editor-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #1e2d3d;
  border: 3px solid #0d1326;
}

.editor-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #4d5bce;
}

/* PARALLAX STAR BACKGROUND */
.stars-small {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: var(--star-shadow);
  animation: animStar 50s linear infinite;
}
.stars-small::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: var(--star-shadow);
}

.stars-medium {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: var(--star-shadow);
  animation: animStar 100s linear infinite;
}
.stars-medium::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: var(--star-shadow);
}

.stars-large {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: var(--star-shadow);
  animation: animStar 150s linear infinite;
}
.stars-large::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: var(--star-shadow);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
